input {
  background-color: white;
  width: 75%;
  font-size: 40px;
  text-align: right;
}

h1{
  color: white;
}
* {
  font-family:"Verdana", sans-serif;
    align-content: center;
}

h2{

}



body{
  background-image: url(https://i.gifer.com/iCg.gif);
  background-size: cover;
  background-repeat: ;
}


button {
  display: inline-block;
  color: white;
  width: 100%;
  height: 100%;
  font: 1.1em "Verdana", sans-serif;
  background-image: url(https://i.gifer.com/6wY.gif);
  background-size: cover;
  border-radius: 30px
  }

.display {
  column-span: all;
  background-color: white;
  width: 100%;
}

input {
  width: 100%
}

#id{
  background-color: white;
  width: 100%;
  height: 100%;
}

#output {
  background-color: white;
}
.output{
  width: 100%;
}

.table{
  background-color: transparent;
  width: 500px;
  height: 750px;
  margin: 20px
}


#sup {
  background-image: url();
}

p {

}
