input {
  background-color: white;
  width: 75%;
  font-size: 40px;
  text-align: right;
}

h1{
  color: white;
}
* {
  font-family:"Verdana", sans-serif;
    align-content: center;
}

#output {
  height: 20px;
}

.button:hover{

}


body{
  background-image: url(https://i.gifer.com/iCg.gif);
  background-size: cover;
  background-repeat: ;
}


button {
  display: inline-block;
  color: white;
  width: 100%;
  height: 100%;
  font: 1.1em "Verdana", sans-serif;
  background-image: url(https://media1.giphy.com/media/3otO6NFBIAFg2vPZuM/giphy.gif);
  background-size: contain;
  border-radius: 30px
  }

.display {
  column-span: all;
  background-color: white;
  width: 100%;
  height: 20px;
}

input {
  width: 100%
}

#id{
  background-color: white;
  width: 100%;
  height: 100%;
}

#output {
  background-color: white;
}
.output{
  width: 100%;
}

.table{
  background-image: url(https://steamuserimages-a.akamaihd.net/ugc/93852611674339364/41DA8AE39BFCB486054908392B682EA374E59A1B/);
  width: 500px;
  height: 650px;
  margin: 20px
}


#sup {
  background-image: url();
}

p {

}
